.Textarea {
    border: 2px solid #A393FF;
    width: 100%;
    border-radius: 15px;
    padding: 12px 15px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Textarea p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A393FF;
}

.Textarea textarea {
    width: 100%;
    height: 200px;
    background: transparent;
    border: none;
    color: #A393FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    resize: vertical;
}

.Textarea textarea::placeholder {
    color: rgba(255, 255, 255, 0.2);
}